PORT=5001
MONGO_URI=mongodb+srv://ragu:ragunath1234@cluster0.fsyd7p4.mongodb.net/ntj-db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace-with-a-strong-secret
CLIENT_ORIGIN=*
GOLD_ADMIN_EMAIL=gold@ntjadmin.com
GOLD_ADMIN_PASSWORD=Gold@123
SILVER_ADMIN_EMAIL=silver@ntjadmin.com
SILVER_ADMIN_PASSWORD=Silver@123
